/* Eric Mayers Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* My Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Modular Class */
.container {
  margin: 0 auto;
  max-width: 90%;
}

body {
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-30 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}

.flex-40 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.flex-60 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

.flex-50 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.flex-25 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.flex-15 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 15%;
          flex: 0 1 15%;
}

.hero-section {
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(#134176));
  background-image: linear-gradient(to bottom, black, #134176);
  padding: 2rem 0 6rem 0;
  position: relative;
}

.navbar {
  background-color: white;
  max-width: 70%;
  margin: 0 auto;
  padding: 0.5rem 0;
  border-radius: 7px;
  margin-bottom: -2.2rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  z-index: 1;
  position: relative;
}

.navbar img {
  width: 3rem;
  height: 3rem;
}

.booking {
  background-color: white;
  padding: 3rem 2rem;
  border-radius: 7px;
  padding-top: 5rem;
}

.booking .label-1 {
  padding-left: 1rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.booking .input-1 {
  margin-right: 0.4rem;
}

.booking .text {
  font-size: 1rem;
  font-weight: 600;
}

.booking .col {
  padding: 1rem 0 1rem 2rem;
  border-right: 1px solid #f1eeee;
  height: 8.7rem;
}

.booking .col h3 {
  font-size: 1.3rem;
  font-weight: 500;
  color: #585656;
}

.booking .col span {
  font-size: 1.5rem;
  font-weight: 500;
  color: black;
}

.booking .col h2 {
  font-size: 2.5rem;
  font-weight: 700;
  padding: 0.5rem 0;
}

.booking .col p {
  font-size: 1.1rem;
  color: #585656;
  padding-bottom: 0.3rem;
}

.booking .col strong {
  color: #cf834a;
}

.booking .col:hover {
  background-color: #dbf0f1;
}

.booking .details {
  border: 1px solid #f1eeee;
  border-radius: 6px;
  margin: 1.3rem 0;
}

.booking .wrapper {
  background-color: #dbf0f1;
  padding: 0.7rem 0.6rem;
  margin-right: 0.2rem;
  border-radius: 4px;
}

.booking .wrapper p {
  color: #585656;
  padding-top: 0.2rem;
}

.booking .wrapper i {
  color: #3cb5ec;
  padding: 0.3rem;
}

.booking footer .col-1 {
  background-color: #dbf0f1;
  padding: 0.7rem 0.6rem;
  margin-right: 0.2rem;
  border-radius: 4px;
}

.booking footer .col-disable {
  background-color: #eaecec;
  padding: 0.7rem 0.6rem;
  margin-right: 0.2rem;
  border-radius: 4px;
}

.booking footer input {
  margin-right: 0.4rem;
}

.booking footer h2 {
  padding-right: 0.5rem;
  color: #585656;
}

.booking footer span {
  color: red;
}

.search-btn {
  text-align: center;
  position: absolute;
  bottom: 2rem;
  left: 45%;
}

.search-btn button {
  padding: 0.5rem 3rem;
  border-radius: 29px;
  font-size: 2rem;
  color: cornsilk;
  background-image: -webkit-gradient(linear, right top, left top, from(blue), to(#30d9f7));
  background-image: linear-gradient(to left, blue, #30d9f7);
  font-weight: 700;
  border: none;
  outline: none;
  margin-bottom: 1rem;
}

.search-btn .explore {
  color: white;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
}

.search-btn .explore i {
  font-weight: 700;
}

.header-main {
  background-color: #061526;
  color: white;
  padding: 0.5rem 0;
}

.header-main .header-img-1 {
  width: 8rem;
}

.header-main .header-img-2 {
  width: 4rem;
  height: 3rem;
  padding-right: 0.3rem;
}

.header-main .login-btn {
  width: 16rem;
  height: 3.7rem;
  padding-top: 0.3rem;
}

.header-main .header-img-3 {
  width: 3rem;
  height: 3.5rem;
  padding-right: 0.3rem;
}

.header-main .header-img-4 {
  width: 12rem;
  height: 3.3rem;
}

.header-main .sub-header {
  font-weight: 700;
  font-size: 0.8rem;
}

.header-main .header-text {
  padding-top: 0.3rem;
  font-size: 0.7rem;
  font-weight: 500;
}

.header-main .header-col {
  padding-right: 1rem;
}

.explore-container .explore-links {
  max-width: 60%;
  margin: 0 auto;
  background-color: white;
  border-radius: 27rem;
  padding: 0.5rem 0;
}

.explore-container .explore-links .active {
  color: #4584e4;
}

.explore-container .explore-links .side {
  border-right: 1px solid #a7a0a0;
  padding-right: 1rem;
  height: 4rem;
}

.explore-container .explore-links h2 {
  font-weight: 700;
  font-size: 1rem;
}

.explore-container .explore-links p {
  font-size: 1rem;
  color: #585656;
  padding-top: 0.4rem;
}

.explore-container .explore-links i {
  font-size: 1.4rem;
  margin-right: 0.4rem;
  color: #3c74dd;
}

.guideline {
  padding: 2rem 0;
}

.guideline .card {
  background-color: white;
  padding: 2rem;
  margin: 1rem;
  border-radius: 5px;
}

.guideline .card img {
  width: 4rem;
  margin-right: 0.7rem;
}

.guideline .card h3 {
  font-size: 1.3rem;
}

.guideline .card p {
  color: #279eff;
  font-size: 1.2rem;
}

.offer .container {
  background-color: white;
  padding: 2rem;
}

.offer .nav {
  margin-left: 3rem;
}

.offer .nav h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-right: 2rem;
}

.offer .nav h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 1rem;
  color: #585656;
}

.offer img {
  width: 10rem;
  border-radius: 6px;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.offer .active {
  border-bottom: 1px solid #b9b6b6;
  padding-bottom: 0.3rem;
}

.offer #active-btn {
  color: #279eff;
}

.offer .btn-wrapper {
  margin-top: 2.5rem;
}

.offer .btn-wrapper button {
  border: none;
  outline: none;
  color: #279eff;
  background-color: transparent;
  font-size: 1.2rem;
}

.offer .offer-card {
  background-color: white;
  padding: 1rem;
  margin: 2rem;
  width: 28rem;
  margin-right: 2rem;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
          box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.offer .offer-card h3 {
  color: #585656;
  font-size: 1.2rem;
  font-weight: 500;
  padding-bottom: 0.7rem;
}

.offer .offer-card h5 {
  font-weight: 400;
  font-size: 1.2rem;
  color: #585656;
}

.offer .offer-card h2 {
  font-size: 1.6rem;
  font-weight: 700;
  padding-bottom: 0.7rem;
}

.offer .offer-card h4 {
  color: #585656;
  font-size: 1.2rem;
  padding: 0.7rem 0;
}

.offer .offer-card span {
  border-bottom: 2px solid red;
  padding-bottom: 0.5rem;
}

.offer .offer-card p {
  text-align: center;
}

.download {
  margin-top: 3rem;
}

.download .img-wrapper img {
  width: 10rem;
  padding-left: 2rem;
  margin-bottom: 1rem;
}

.download img {
  width: 8rem;
  margin-right: 3rem;
}

.download .container {
  background-color: white;
  padding: 2rem;
  border-radius: 7px;
}

.download .container h2 {
  font-size: 3rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

.download .container h3 {
  font-size: 1.7rem;
  padding-bottom: 2rem;
  color: #585656;
}

.download .container p {
  font-size: 1.2rem;
  padding: 1rem 0 1.5rem 0;
}

.download .container input {
  padding: 0.5rem;
  height: 3rem;
  width: 50%;
}

.download .container button {
  padding: 0.6rem;
  height: 3rem;
  color: #279eff;
  font-size: 1.2rem;
  border: 1px solid #279eff;
}

.about-section {
  margin-top: 3rem;
}

.about-section .description {
  background-color: #e7e7e7;
  padding: 3.5rem 0;
}

.about-section .summary {
  padding: 3rem 0;
}

.about-section .heading {
  font-size: 1rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
}

.about-section .text {
  padding-bottom: 1rem;
  color: #585656;
  line-height: 1.2rem;
}

.about-section .col {
  margin-right: 3rem;
}

.about-section .col h4 {
  font-size: 1.3rem;
  font-weight: 700;
  padding-bottom: 1rem;
}

.about-section .col p {
  padding-bottom: 1rem;
  color: #585656;
  line-height: 1.2rem;
}

.collection .box {
  margin: 0 2rem;
}

.collection .img-card {
  position: relative;
  margin: 0.4rem;
}

.collection .img-card .wrapper {
  width: 20rem;
}

.collection .img-card .top {
  text-align: center;
  position: absolute;
  bottom: 1.5rem;
  left: 4rem;
  right: 5rem;
}

.collection .img-card .top .text {
  background-color: white;
  display: inline-block;
  padding: 0.4rem;
  border-radius: 7px;
  font-weight: 700;
}

.collection .img-card .top h2 {
  padding-top: 0.4rem;
  font-size: 1.3rem;
  color: white;
  font-weight: 700;
  line-height: 1.5;
}

.collection img {
  width: 90%;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 7px;
}

.collection .column {
  padding: 1rem;
  background-color: white;
  margin: 2rem 0;
}

.collection .column .title {
  font-weight: 600;
  font-size: 3rem;
  padding: 1rem 0;
  margin-left: 2rem;
}

.apply {
  margin-bottom: 2.7rem;
}

.apply h2 {
  font-size: 1.4rem;
}

.apply span {
  font-size: 1.6rem;
  font-weight: 600;
}

.apply .container {
  background-color: white;
  padding: 0.5rem 1rem;
  border: 3px solid #f1b8b8;
  border-radius: 4px;
}

.apply .heading {
  color: green;
  font-size: 1.5rem;
  padding: 1rem 0;
  font-weight: 700;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.apply .wrapper-1 {
  width: 6rem;
  margin-right: 0.6rem;
}

.apply img {
  width: 100%;
  height: 5rem;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: transparent;
}

.apply .btn-ternary {
  border: none;
  outline: none;
  color: #279eff;
  font-size: 1.5rem;
  background-color: transparent;
  font-weight: 600;
}

.apply .btn-ternary i {
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 0.6rem;
}

.footer-section {
  background-color: black;
  padding: 3rem 0;
  color: white;
}

.footer-section i {
  font-size: 3rem;
  margin-right: 3rem;
}

.footer-section p {
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.footer-section span {
  font-weight: 100;
}

.flight .container {
  background-color: white;
  padding: 2rem;
  border-radius: 7px;
}

.flight span {
  color: #585656;
}

.flight img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-right: 0.6rem;
}

.flight .card {
  margin-bottom: 2rem;
}

.flight .card h2 {
  font-size: 1.7rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.flight .card p {
  font-size: 1.2rem;
}

.booking-header {
  background-color: white;
  padding: 0.5rem 0;
}

.booking-header p {
  margin-bottom: 0.3rem;
}

.booking-header .country {
  margin: 0 1rem;
}

.booking-header .logo {
  width: 10rem;
  color: black;
}

.booking-header .login-bar img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 0.6rem;
}

.booking-header .login-bar a {
  color: black;
  font-weight: 700;
}

.booking-header .login-bar p {
  margin-bottom: 0.3rem;
}

.booking-header .links img {
  height: 2.5rem;
}

.booking-header .links li {
  margin-left: 2rem;
}

.subheader {
  padding: 1rem 0;
  background-color: black;
}

.subheader .btn-secondary {
  background-color: #c7c2c2;
  color: white;
  border: none;
  font-size: 1.3rem;
  outline: none;
  padding: 0.8rem 1.9rem;
  border-radius: 35px;
}

.subheader h2 {
  font-size: 1.2rem;
  margin-right: 0.6rem;
  color: grey;
}

.subheader .option_header {
  margin-top: 0.8rem;
}

.subheader .option {
  background-color: #1d2c3a;
  margin-right: 0.5rem;
  padding: 0.8rem 0.9rem;
  border-radius: 4px;
  color: white;
}

.subheader .option input {
  margin-right: 0.7rem;
}

.subheader .option span {
  color: #e06464;
}

.subheader i {
  color: #279eff;
  margin-right: 0.5rem;
}

.subheader .col {
  background-color: #1d2c3a;
  margin-right: 0.5rem;
  padding: 0.6rem 0.9rem;
  border-radius: 4px;
}

.subheader .col h2 {
  color: #279eff;
  padding-bottom: 0.5rem;
}

.subheader .col p {
  color: white;
}

.main {
  background: #f2f2f2 -webkit-gradient(linear, left top, left bottom, from(black), to(blue)) no-repeat;
  background: #f2f2f2 linear-gradient(to bottom, black, blue) no-repeat;
  background-size: 100% 15%;
}

.progress {
  width: 100%;
  max-width: 260px;
  height: 6px;
  background: #e1e4e8;
  border-radius: 3px;
  overflow: hidden;
}

.progress-bar {
  display: block;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#ffd33d), color-stop(17%, #ea4aaa), color-stop(34%, #b34bff), color-stop(51%, #01feff), color-stop(68%, #ffd33d), color-stop(85%, #ea4aaa), to(#b34bff));
  background: linear-gradient(90deg, #ffd33d, #ea4aaa 17%, #b34bff 34%, #01feff 51%, #ffd33d 68%, #ea4aaa 85%, #b34bff);
  background-size: 300% 100%;
  -webkit-animation: progress-animation 2s linear infinite;
          animation: progress-animation 2s linear infinite;
}

@-webkit-keyframes progress-animation {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0;
  }
}

@keyframes progress-animation {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0;
  }
}

.filter {
  background-color: white;
  padding: 1.5rem 2rem;
  width: 30%;
  margin: 2.5rem 0;
}

.filter input {
  margin-right: 0.5rem;
}

.filter .item {
  margin-bottom: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filter .btn-more {
  color: #279eff;
}

.filter .popular {
  margin-bottom: 1rem;
}

.filter .oneway {
  margin-bottom: 1rem;
}

.filter .progress {
  width: 70%;
  margin-bottom: 1.2rem;
}

.filter h2 {
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

.filter h3 {
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

.filter .time {
  border: 2px solid #c0bdbd;
  display: inline-block;
  border-radius: 4px;
  padding: 0.5rem;
  text-align: center;
  height: 5rem;
  margin: 0 0.5rem 0.5rem 0;
}

.filter .time p {
  padding: 0.3rem 0;
}

.flight-list {
  padding: 2rem;
}

.flight-list .flight-content {
  background-color: white;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  margin-bottom: 0.8rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 49%;
          flex: 0 1 49%;
}

.flight-list .flight-content .details {
  margin-top: 1rem;
}

.flight-list .flight-content strong {
  font-size: 1.7rem;
  font-weight: 600;
}

.flight-list h2 {
  font-size: 1.3rem;
  font-weight: 600;
}

.flight-list h1 {
  font-size: 2.3rem;
  font-weight: 600;
  padding-bottom: 1.5rem;
  color: white;
}

.flight-list .logo {
  width: 4rem;
  height: 3rem;
  margin-right: 0.5rem;
  border-radius: 5px;
}
/*# sourceMappingURL=index.css.map */