/* Eric Mayers Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* My Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Modular Class */
body {
  font-size: 10px;
}

.container {
  margin: 0 auto;
  max-width: 90%;
}

.btn-primary {
  padding: 0.5rem 2rem;
  border-radius: 29px;
  font-size: 2rem;
  color: cornsilk;
  background-image: -webkit-gradient(linear, right top, left top, from(blue), to(#30d9f7));
  background-image: linear-gradient(to left, blue, #30d9f7);
  font-weight: 700;
  border: none;
  outline: none;
  display: inline-block;
  margin-bottom: 1rem;
}

.btn-add {
  border: none;
  color: #279eff;
  outline: none;
  font-weight: 700;
  background-color: transparent;
}

.btn {
  padding: 0.5rem 2rem;
  border-radius: 1.8rem;
  font-size: 2rem;
  color: cornsilk;
  background-image: -webkit-gradient(linear, right top, left top, from(blue), to(#30d9f7));
  background-image: linear-gradient(to left, blue, #30d9f7);
  font-weight: 700;
  border: none;
  outline: none;
  display: inline-block;
  margin-bottom: 1rem;
  cursor: pointer;
}

.btn-small {
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  border-radius: 1.2rem;
}

.border-green {
  border-bottom: 2px solid #82d182;
  padding-bottom: 0.1rem;
  margin-bottom: 0.2rem;
}

.red {
  color: red;
}

.blue {
  color: #1478d6;
}

.padding {
  padding: 0.6rem 0;
}

.padding-1 {
  padding: 2rem 0;
}

body {
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-30 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}

.flex-40 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.flex-60 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

.flex-50 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.flex-25 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.flex-15 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 15%;
          flex: 0 1 15%;
}

.cursor-pointer {
  cursor: pointer;
}

.hero-section {
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(#134176));
  background-image: linear-gradient(to bottom, black, #134176);
  padding: 2rem 0 6rem 0;
  position: relative;
}

.navbar-center {
  max-width: 70%;
  margin: 0 auto;
  border-radius: 7px;
  margin-bottom: -2.2rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  z-index: 1;
  position: relative;
}

.navbar {
  background-color: white;
  padding: 0 0.5rem;
}

.navbar img {
  width: 3rem;
  height: 3rem;
}

.navbar .nav-btn {
  cursor: pointer;
  text-align: center;
  padding: 0.5rem;
  border-bottom: 3px solid transparent;
  color: #585656;
}

.navbar .nav-btn i {
  font-size: 2.5rem;
}

.navbar .nav-btn:hover,
.navbar .nav-btn-active {
  color: #0bafe0;
  -webkit-transition: color 0.5s, border-bottom 0.5s;
  transition: color 0.5s, border-bottom 0.5s;
}

.navbar .nav-btn-active {
  border-bottom: 3px solid #0bafe0;
}

.navbar .nav-btn-small {
  margin-right: 2rem;
}

.navbar .nav-btn-small i {
  font-size: 2rem;
}

.booking {
  background-color: white;
  padding: 3rem 2rem;
  border-radius: 7px;
  padding-top: 5rem;
}

.booking .city-select {
  position: relative;
  top: -100%;
}

.booking .city-select .city-option .city {
  font-size: 1.2rem;
  color: black;
  font-weight: 500;
  padding-bottom: 0.5rem;
}

.booking .city-select .city-option .airport-name {
  font-size: 0.8rem;
  color: #585656;
}

.booking .city-select .city-option .airport-code {
  font-size: 1rem;
  color: #585656;
}

.booking .label-1 {
  padding-left: 1rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.booking .input-1 {
  margin-right: 0.4rem;
}

.booking .text {
  font-size: 1rem;
  font-weight: 600;
}

.booking .col {
  padding: 1rem 0 1rem 2rem;
  border-right: 1px solid #f1eeee;
}

.booking .col h3 {
  font-size: 1rem;
  font-weight: 500;
  color: #585656;
}

.booking .col span {
  font-size: 1.3rem;
  font-weight: 500;
  color: black;
}

.booking .col h2 {
  font-size: 2rem;
  font-weight: 700;
  padding: 0.5rem 0;
}

.booking .col p {
  font-size: 1.1rem;
  color: #585656;
  padding-bottom: 0.3rem;
}

.booking .col strong {
  color: #cf834a;
  font-size: 1rem;
  font-weight: 700;
  padding-top: 0.5rem;
  display: inline-block;
}

.booking .col:hover {
  background-color: #dbf0f1;
}

.booking .details {
  border: 1px solid #f1eeee;
  border-radius: 6px;
  margin: 1.3rem 0;
}

.booking .wrapper {
  background-color: #dbf0f1;
  padding: 0.7rem 0.6rem;
  margin-right: 0.2rem;
  border-radius: 4px;
}

.booking .wrapper p {
  color: #585656;
  padding-top: 0.2rem;
}

.booking .wrapper i {
  color: #3cb5ec;
  padding: 0.3rem;
}

.fare-type .col-1 {
  background-color: #dbf0f1;
  padding: 1.2rem 0.6rem;
  margin-right: 0.2rem;
  border-radius: 4px;
}

.fare-type .col-disable {
  background-color: #eaecec;
  padding: 1.2rem 0.6rem;
  margin-right: 0.2rem;
  border-radius: 4px;
}

.fare-type input {
  margin-right: 0.4rem;
}

.fare-type h2 {
  padding-right: 0.5rem;
  color: #585656;
}

.fare-type span {
  color: red;
}

.search-btn {
  text-align: center;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.search-btn .explore {
  color: white;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
}

.search-btn .explore i {
  font-weight: 700;
}

.header-main {
  background-color: #061526;
  color: white;
  padding: 0.5rem 0;
}

.header-main .header-img-1 {
  width: 8rem;
}

.header-main .header-img-2 {
  width: 4rem;
  height: 3rem;
  padding-right: 0.3rem;
}

.header-main .login-btn {
  width: 16rem;
  height: 3.7rem;
  padding-top: 0.3rem;
}

.header-main .header-img-3 {
  width: 3rem;
  height: 3.5rem;
  padding-right: 0.3rem;
}

.header-main .header-img-4 {
  width: 12rem;
  height: 3.3rem;
}

.header-main .sub-header {
  font-weight: 700;
  font-size: 0.8rem;
}

.header-main .header-text {
  padding-top: 0.2rem;
  font-size: 0.6rem;
  line-height: 1.2;
}

.header-main .header-col {
  padding-right: 1rem;
  color: #dbdbdb;
}

.header-main .header-col i {
  font-size: 2.5rem;
  margin-right: 0.5rem;
}

.booking-header {
  background-color: white;
  padding: 0.5rem 0;
}

.booking-header .nav .nav-btn {
  cursor: pointer;
  text-align: center;
  padding: 0.5rem 1.5rem;
  border-bottom: 3px solid transparent;
  color: #585656;
}

.booking-header .nav .nav-btn i {
  font-size: 2.5rem;
}

.booking-header .nav .nav-btn:hover,
.booking-header .nav .nav-btn-active {
  color: #0bafe0;
  -webkit-transition: color 0.5s, border-bottom 0.5s;
  transition: color 0.5s, border-bottom 0.5s;
}

.booking-header .nav .nav-btn-active {
  border-bottom: 3px solid #0bafe0;
}

.booking-header p {
  margin-bottom: 0.3rem;
}

.booking-header .country {
  margin: 0 1rem;
}

.booking-header .logo {
  width: 10rem;
  color: black;
}

.booking-header .login-bar img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 0.6rem;
}

.booking-header .login-bar a {
  color: black;
  font-weight: 700;
}

.booking-header .login-bar p {
  margin-bottom: 0.3rem;
}

.booking-header .links img {
  height: 2.5rem;
}

.booking-header .links li {
  margin-left: 2rem;
}

.subheader {
  padding: 1rem 0;
  background-color: black;
}

.subheader .btn-secondary {
  background-color: #c7c2c2;
  color: white;
  border: none;
  font-size: 1.3rem;
  outline: none;
  padding: 0.8rem 1.9rem;
  border-radius: 35px;
}

.subheader h2 {
  font-size: 1.2rem;
  margin-right: 0.6rem;
  color: grey;
}

.subheader .option_header {
  margin-top: 0.8rem;
}

.subheader .option {
  background-color: #1d2c3a;
  margin-right: 0.5rem;
  padding: 0.8rem 0.9rem;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.subheader .option input {
  margin-right: 0.7rem;
}

.subheader .option span {
  color: #e06464;
}

.subheader i {
  color: #279eff;
  margin-right: 0.5rem;
}

.subheader .col {
  background-color: #1d2c3a;
  margin-right: 0.5rem;
  padding: 0.6rem 0.9rem;
  border-radius: 4px;
}

.subheader .col h2 {
  color: #279eff;
  padding-bottom: 0.5rem;
}

.subheader .col p {
  color: white;
}

.main {
  background: #f2f2f2 -webkit-gradient(linear, left top, left bottom, from(black), to(blue)) no-repeat;
  background: #f2f2f2 linear-gradient(to bottom, black, blue) no-repeat;
  background-size: 100% 15%;
}

.progress {
  width: 100%;
  max-width: 260px;
  height: 6px;
  background: #e1e4e8;
  border-radius: 3px;
  overflow: hidden;
}

.progress-bar {
  display: block;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#ffd33d), color-stop(17%, #ea4aaa), color-stop(34%, #b34bff), color-stop(51%, #01feff), color-stop(68%, #ffd33d), color-stop(85%, #ea4aaa), to(#b34bff));
  background: linear-gradient(90deg, #ffd33d, #ea4aaa 17%, #b34bff 34%, #01feff 51%, #ffd33d 68%, #ea4aaa 85%, #b34bff);
  background-size: 300% 100%;
  -webkit-animation: progress-animation 2s linear infinite;
          animation: progress-animation 2s linear infinite;
}

@-webkit-keyframes progress-animation {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0;
  }
}

@keyframes progress-animation {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0;
  }
}

.filter {
  background-color: white;
  padding: 1.5rem 2rem;
  width: 30%;
  margin: 2.5rem 0;
}

.filter input {
  margin-right: 0.5rem;
}

.filter .item {
  margin-bottom: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filter .btn-more {
  color: #279eff;
}

.filter .popular {
  margin-bottom: 1rem;
}

.filter .oneway {
  margin-bottom: 1rem;
}

.filter .progress {
  width: 100%;
  margin-bottom: 1.2rem;
}

.filter h2 {
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

.filter h3 {
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

.filter .time {
  border: 2px solid #c0bdbd;
  display: inline-block;
  border-radius: 4px;
  padding: 0.5rem;
  text-align: center;
  height: 5rem;
  margin: 0 0.5rem 0.5rem 0;
}

.filter .time p {
  padding: 0.3rem 0;
}

.flight-list {
  width: 70%;
  padding: 2rem;
}

.flight-list .flight-content {
  background-color: white;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  margin-bottom: 0.8rem;
  width: 48%;
  cursor: pointer;
}

.flight-list .flight-content .details {
  margin-top: 1rem;
}

.flight-list .flight-content strong {
  font-size: 1.7rem;
  font-weight: 600;
}

.flight-list h2 {
  font-size: 1.3rem;
  font-weight: 600;
}

.flight-list h1 {
  font-size: 2.3rem;
  font-weight: 600;
  padding-bottom: 1.5rem;
  color: white;
}

.flight-list .logo {
  width: 4rem;
  height: 3rem;
  margin-right: 0.5rem;
  border-radius: 5px;
}

.main-section {
  background: #f2f2f2 -webkit-gradient(linear, left top, left bottom, from(black), to(blue)) no-repeat;
  background: #f2f2f2 linear-gradient(to bottom, black, blue) no-repeat;
  background-size: 100% 19%;
}

.details-section {
  width: 70%;
}

.form-header {
  padding: 1.2rem 0;
  background-color: #03111e;
}

.form-header h1 {
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
}

.form-header li {
  margin-left: 1rem;
}

.form-header li a {
  color: #afabab;
}

.form-header li i {
  color: #9e9d9d;
  margin-left: 0.3rem;
}

.form-header #active {
  border-bottom: 2px solid #ddd5d5;
  padding-bottom: 0.1rem;
  color: #ddd5d5;
}

.flight-details {
  background-color: white;
  padding: 2rem 1rem;
}

.flight-details .wrapper {
  padding: 1rem;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.flight-details .wrapper h2 {
  font-size: 1.3rem;
  font-weight: 600;
}

.flight-details .wrapper strong {
  font-size: 1rem;
  font-weight: 600;
}

.flight-details .wrapper span {
  font-weight: 700;
  margin-left: 0.3rem;
}

.flight-details .wrapper .green {
  background-color: green;
  color: white;
  padding: 0.3rem;
  border-radius: 3px;
}

.flight-details .logo {
  width: 3rem;
  margin-right: 0.4rem;
  height: 2.5rem;
}

.flight-details .ticket {
  background-color: #faf6f6;
  margin-top: 1rem;
  padding: 1rem;
}

.flight-details .ticket .totaltime {
  padding: 0.4rem 0;
}

.flight-details .ticket h3 {
  font-size: 1rem;
  font-weight: 600;
}

.flight-details .ticket .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-right: 2px dashed black;
  padding-right: 1rem;
  margin-right: 1rem;
}

.add {
  background-color: #b3daf3;
  padding: 0.5rem 3rem;
  margin: 0 auto;
  width: 70%;
}

.add i {
  margin-right: 0.3rem;
}

.form {
  padding: 2rem 2rem 0 2rem;
  margin-bottom: 2rem;
  background-color: white;
  margin-top: 2rem;
}

.form .header {
  padding-bottom: 1rem;
}

.form .header i {
  margin-right: 0.4rem;
  font-size: 1.4rem;
}

.form .header span {
  font-size: 1rem;
  font-weight: 600;
  color: #585656;
  padding-right: 0.5rem;
}

.form .input-wrapper {
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.form .input-wrapper p {
  padding-bottom: 0.5rem;
}

.form .form-2 h4 {
  padding-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: 500;
}

.form .input-item {
  height: 5rem;
  width: 32%;
}

.form .input-item p {
  padding-top: 0.5rem;
  color: red;
}

.form .input-item label {
  padding-bottom: 1rem;
}

.form .input-item input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: none;
  outline: none;
  border: 2px solid #d6d3d3;
}

.form .form-footer {
  padding-top: 2rem;
}

.form .form-footer input {
  margin-right: 0.5rem;
}

.form .form-footer label {
  font-weight: 600;
}

.form .form-footer button {
  margin-top: 3rem;
}

.summary {
  padding: 2rem;
  margin-left: 2rem;
  background-color: white;
}

.summary h2 {
  font-size: 1.3rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.summary .col {
  padding-bottom: 0.5rem;
}

.summary p {
  padding-bottom: 0.3rem;
}

.summary i {
  margin-right: 0.4rem;
}

.summary .total {
  padding-top: 0.5rem;
  border-top: 2px solid #bdb2b2;
}

.promo h3 {
  font-size: 1.7rem;
  background-color: blanchedalmond;
  padding: 0.5rem;
  margin: 1.5rem 0;
}

.promo input {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.promo .promo-box {
  background-color: #f4f4f4;
  padding: 1rem;
  margin-bottom: 1rem;
}

.promo .promo-box h2 {
  font-size: 1.3rem;
}

.promo .promo-box p {
  color: grey;
}

.promo .promo-box h6 {
  color: #279eff;
}
/*# sourceMappingURL=index.css.map */