.main-section {
  background: #f2f2f2 linear-gradient(to bottom, black, blue) no-repeat;
  background-size: 100% 19%;
}

.details-section {
  width: 70%;
}

.form-header {
  padding: 1.2rem 0;
  background-color: #03111e;
  h1 {
    font-size: 1.2rem;
    font-weight: 700;
    color: $pure-color;
  }
  li {
    margin-left: 1rem;
    a {
      color: #afabab;
    }
    i {
      color: #9e9d9d;
      margin-left: 0.3rem;
    }
  }
  #active {
    border-bottom: 2px solid #ddd5d5;
    padding-bottom: 0.1rem;
    color: #ddd5d5;
  }
}

// flight-details

.flight-details {
  background-color: $pure-color;
  padding: 2rem 1rem;
  .wrapper {
    padding: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    h2 {
      font-size: 1.3rem;
      font-weight: 600;
    }
    strong {
      font-size: 1rem;
      font-weight: 600;
    }
    span {
      color: green;
      font-weight: 700;
      margin-left: 0.3rem;
    }
    .green {
      background-color: green;
      color: $pure-color;
      padding: 0.3rem;
      border-radius: 3px;
    }
  }
  .logo {
    width: 3rem;
    margin-right: 0.4rem;
    height: 2.5rem;
  }
  .ticket {
    background-color: #faf6f6;
    margin-top: 1rem;
    padding: 1rem;
    .totaltime {
      padding: 0.4rem 0;
    }
    h3 {
      font-size: 1rem;
      font-weight: 600;
    }
    .box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-right: 2px dashed black;
      padding-right: 1rem;
      margin-right: 1rem;
    }
  }
}

.add {
  background-color: #b3daf3;
  padding: 0.5rem 3rem;
  margin: 0 auto;
  width: 70%;
  i {
    margin-right: 0.3rem;
  }
}

.form {
  padding: 2rem 2rem 0 2rem;
  margin-bottom: 2rem;
  background-color: $pure-color;
  margin-top: 2rem;
  .header {
    padding-bottom: 1rem;
    i {
      margin-right: 0.4rem;
      font-size: 1.4rem;
    }
    span {
      font-size: 1rem;
      font-weight: 600;
      color: $text;
      padding-right: 0.5rem;
    }
  }
  .input-wrapper {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 1rem;

    p {
      padding-bottom: 0.5rem;
    }
    margin-bottom: 1rem;
  }
  .form-2 {
    h4 {
      padding-bottom: 1rem;
      font-size: 1.3rem;
      font-weight: 500;
    }
  }
  .input-item {
    height: 5rem;
    width: 32%;
    p {
      padding-top: 0.5rem;
      color: red;
    }
    label {
      padding-bottom: 1rem;
    }
    input {
      width: 100%;
      padding: 0.5rem;
      margin-top: 0.5rem;
      border: none;
      outline: none;
      border: 2px solid #d6d3d3;
    }
  }
  .form-footer {
    padding-top: 2rem;
    input {
      margin-right: 0.5rem;
    }
    label {
      font-weight: 600;
    }
    button {
      margin-top: 3rem;
    }
  }
}

// summary

.summary {
  padding: 2rem;
  margin-left: 2rem;
  background-color: $pure-color;
  h2 {
    font-size: 1.3rem;
    font-weight: 600;
    padding-bottom: 0.5rem;
  }
  .col {
    padding-bottom: 0.5rem;
  }
  p {
    padding-bottom: 0.3rem;
  }
  i {
    margin-right: 0.4rem;
  }
  .total {
    padding-top: 0.5rem;
    border-top: 2px solid #bdb2b2;
  }
}

.promo {
  h3 {
    font-size: 1.7rem;
    background-color: blanchedalmond;
    padding: 0.5rem;
    margin: 1.5rem 0;
  }
  input {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
  }
  .promo-box {
    background-color: #f4f4f4;
    padding: 1rem;
    margin-bottom: 1rem;
    h2 {
      font-size: 1.3rem;
    }
    p {
      color: grey;
    }
    h6 {
      color: $base-color;
    }
  }
}
