.flight {
  .container {
    background-color: $pure-color;
    padding: 2rem;
    border-radius: 7px;
  }
  span {
    color: $text;
  }
  img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-right: 0.6rem;
  }
  .card {
    margin-bottom: 2rem;
    h2 {
      font-size: 1.7rem;
      font-weight: 600;
      padding-bottom: 0.5rem;
    }
    p {
      font-size: 1.2rem;
    }
  }
}
