.footer-section {
  background-color: black;
  padding: 3rem 0;
  color: $pure-color;
  i {
    font-size: 3rem;
    margin-right: 3rem;
  }
  p {
    font-weight: 600;
    padding-bottom: 0.5rem;
  }
  span {
    font-weight: 100;
  }
}
