// Variables
$base-color: #279eff;
$primary-color: black;
$secondary-color: #ebe5e5;
$ternary-color: #0bafe0;
$pure-color: white;
$text: #585656;

/* Modular Class */

body {
  font-size: 10px;
}

.container {
  margin: 0 auto;
  max-width: 90%;
}

.btn-primary {
  padding: 0.5rem 2rem;
  border-radius: 29px;
  font-size: 2rem;
  color: cornsilk;
  background-image: linear-gradient(to left, blue, rgb(48, 217, 247));
  font-weight: 700;
  border: none;
  outline: none;
  display: inline-block;
  margin-bottom: 1rem;
}

.btn-add {
  border: none;
  color: $base-color;
  outline: none;
  font-weight: 700;
  background-color: transparent;
}

.btn {
  padding: 0.5rem 2rem;
  border-radius: 1.8rem;
  font-size: 2rem;
  color: cornsilk;
  background-image: linear-gradient(to left, blue, rgb(48, 217, 247));
  font-weight: 700;
  border: none;
  outline: none;
  display: inline-block;
  margin-bottom: 1rem;
  cursor: pointer;
}

.btn-small {
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  border-radius: 1.2rem;
}

.red {
  color: red;
}

.blue {
  color: #1478d6;
}

.padding {
  padding: 0.6rem 0;
}

.padding-1 {
  padding: 2rem 0;
}

body {
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.flex-end {
  justify-content: flex-end;
}

.flex-30 {
  flex: 0 1 30%;
}

.flex-40 {
  flex: 0 1 40%;
}

.flex-60 {
  flex: 0 1 60%;
}

.flex-50 {
  flex: 0 1 50%;
}

.flex-25 {
  flex: 0 1 25%;
}

.flex-15 {
  flex: 0 1 15%;
}

// .flex-1{
//   flex: 0 1 25%;
// }

.cursor-pointer {
  cursor: pointer;
}
