.offer {
  .container {
    background-color: $pure-color;
    padding: 2rem;
  }
  .nav {
    margin-left: 3rem;
    h2 {
      font-size: 2.5rem;
      font-weight: 700;
      margin-right: 2rem;
    }
    h3 {
      font-size: 1.2rem;
      font-weight: 600;
      margin-left: 1rem;
      color: $text;
    }
  }
  img {
    width: 10rem;
    border-radius: 6px;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
  }
  .active {
    border-bottom: 1px solid #b9b6b6;
    padding-bottom: 0.3rem;
  }
  #active-btn {
    color: $base-color;
  }
  .btn-wrapper {
    margin-top: 2.5rem;
    button {
      border: none;
      outline: none;
      color: $base-color;
      background-color: transparent;
      font-size: 1.2rem;
    }
  }
  .offer-card {
    background-color: $pure-color;
    padding: 1rem;
    margin: 2rem;
    width: 28rem;
    margin-right: 2rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    h3 {
      color: $text;
      font-size: 1.2rem;
      font-weight: 500;
      padding-bottom: 0.7rem;
    }
    h5 {
      font-weight: 400;
      font-size: 1.2rem;
      color: $text;
    }
    h2 {
      font-size: 1.6rem;
      font-weight: 700;
      padding-bottom: 0.7rem;
    }
    h4 {
      color: $text;
      font-size: 1.2rem;
      padding: 0.7rem 0;
    }

    span {
      border-bottom: 2px solid red;
      padding-bottom: 0.5rem;
    }
    p {
      text-align: center;
    }
  }
}

// DownLoadApp

.download {
  margin-top: 3rem;

  .img-wrapper {
    img {
      width: 10rem;
      padding-left: 2rem;
      margin-bottom: 1rem;
    }
  }
  img {
    width: 8rem;
    margin-right: 3rem;
  }
  .container {
    background-color: $pure-color;
    padding: 2rem;
    border-radius: 7px;
    h2 {
      font-size: 3rem;
      font-weight: 600;
      padding-bottom: 1rem;
    }
    h3 {
      font-size: 1.7rem;
      padding-bottom: 2rem;
      color: $text;
    }
    p {
      font-size: 1.2rem;
      padding: 1rem 0 1.5rem 0;
    }
    input {
      padding: 0.5rem;
      height: 3rem;
      width: 50%;
    }
    button {
      padding: 0.6rem;
      height: 3rem;
      color: $base-color;
      font-size: 1.2rem;
      border: 1px solid $base-color;
    }
  }
}
